<div class="container">

  <app-botao-logo></app-botao-logo>

  <div class="card w-50 h-50">
    <div class="card-body">

      <div class="text-center"> <!-- Centraliza horizontalmente -->
        <h1>Cadastrar Professor</h1>
      </div>

      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Nome</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Digite o Nome do Professor...">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Sobrenome</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Digite o Sobrenome do Professor...">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Email</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Digite o Email do Professor...">
        </div>
        <div class="col-6">
          <label for="inputCalendar" class="form-label">Selecione a data de nascimento</label>
          <input type="date" class="form-control" id="inputCalendar" placeholder="Clique para selecionar uma data" #inputCalendar>
        </div>
        <div class="col-md-3">
          <label for="inputCurso" class="form-label">Curso</label>
          <select id="curso" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputMateria" class="form-label">Matéria</label>
          <select id="materia" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
