body {
  background-image: url('\img\fundo.avif'); /* Caminho para a imagem no diretório assets */
  background-size: cover; /* Ajuste o tamanho da imagem para cobrir o elemento */
  background-position: center; /* Centralize a imagem horizontal e verticalmente */
  background-repeat: no-repeat; /* Evite que a imagem de fundo se repita */
}


